body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-image: url("backgrnd.jpg");
}

h1 {
  color: Indigo ;
  font-size: 55px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #0077b6;
  border-radius: 0.5rem;
}

li div:first-child {
  margin-bottom: 1rem;
}

h3 {
  color: #023e8a;
}

button {
  background-color: #00040a;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

button:hover {
  background-color: #03045e;
}

.modal {
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: LightGoldenRodYellow;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.modal-content {
  background-color: #fff;
  padding: 10rem;
  border-radius: 0.5rem;
}

.modal input,
.modal textarea {
  display: block;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
}

.modal button[type='submit'] {
  background-color: #00040a;
  color: #fff;
  size: 30px;
}

.delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: #ff4d4d;
}

.delete-button:hover {
  color: #d11a2a;
}

.delete-button:focus {
  outline: none;
}

.delete-icon {
  margin-right: 0.5rem;
}
